.header{
    padding:20px;
    margin: 20px;
    border: 1px solid #DDD;
}

.link {
    margin: 15px;
    color: #000;
    text-decoration: none !important;    
}

.active{
    margin: 15px;
    color: blue;
    text-decoration: underline;
}